.header{
  position: fixed;
  background: linear-gradient(to bottom, #ffffff 5%,#e2e2e2 100%);
  color: white;
  font-family: $main-font;
  right: 0;
  left: 0;
  top: 0;
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
}

