.search{
  &-block{
    display: flex;
    flex-flow: row;
    position: relative;
    width: 94%;
    border: 1px solid black;
    border-radius: 15px;
    height: 30px;
    background-color: white;
    margin-bottom: 20px;
    padding-left: 5px;
  }
  &-field{
    width: 94%;
    border: none;
    border-radius: 15px;
    height: 30px;
    padding: 0;
    margin: 0;
    text-indent: 10px;
    &:focus{
      border: none;
      outline: none;
    }
  }
  &-btn{
    position: relative;
    border: none;
    background: none;
    width: 4%;
    cursor: pointer;
    &:focus {
      border: none;
      outline: none;
    }
    &::before{
      position: absolute;
      top: 2px;
      right: 0;
      font-family: FontAwesome;
      content: '\f002';
      font-size: 22px;
      transition: all .3s ease-in-out;
    }
    &:hover{
      &::before{
        transform: scale(1.1);
      }
    }
  }
}